.bodyArea{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* width: auto; */
  margin: 10px 5% 100px 5% ;
  gap: 25px;
  grid-template-columns: auto auto;

}
